<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="releveNote">
      <h2 data-cy="releveNoteDetailsHeading"><span jhiTranslate="dbGestionMatricule4App.releveNote.detail.title">Releve Note</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ releveNote.id }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.annee">Annee</span></dt>
        <dd>
          <span>{{ releveNote.annee | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.etat">Etat</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dbGestionMatricule4App.Etat.' + releveNote.etat }}">{{ releveNote.etat }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.apreciation">Apreciation</span></dt>
        <dd>
          <span>{{ releveNote.apreciation }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.moyenne">Moyenne</span></dt>
        <dd>
          <span>{{ releveNote.moyenne }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.moyenneGenerale">Moyenne Generale</span></dt>
        <dd>
          <span>{{ releveNote.moyenneGenerale }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.rang">Rang</span></dt>
        <dd>
          <span>{{ releveNote.rang }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.noteConduite">Note Conduite</span></dt>
        <dd>
          <span>{{ releveNote.noteConduite }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.nomSemestre">Nom Semestre</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dbGestionMatricule4App.NomSemestre.' + releveNote.nomSemestre }}">{{ releveNote.nomSemestre }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.matriculeRel">Matricule Rel</span></dt>
        <dd>
          <span>{{ releveNote.matriculeRel }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.apprenant">Apprenant</span></dt>
        <dd>
          <div *ngIf="releveNote.apprenant">
            <a [routerLink]="['/apprenant', releveNote.apprenant?.id, 'view']">{{ releveNote.apprenant?.nomCompletApp }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.filiereEtude">Filiere Etude</span></dt>
        <dd>
          <div *ngIf="releveNote.filiereEtude">
            <a [routerLink]="['/filiere-etude', releveNote.filiereEtude?.id, 'view']">{{ releveNote.filiereEtude?.filiere }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule4App.releveNote.serieEtude">Serie Etude</span></dt>
        <dd>
          <div *ngIf="releveNote.serieEtude">
            <a [routerLink]="['/serie-etude', releveNote.serieEtude?.id, 'view']">{{ releveNote.serieEtude?.serie }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/releve-note', releveNote.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
