<!-- <jhi-page-ribbon></jhi-page-ribbon> -->
<div class="container-fluid">
  <!-- header -->
  <div class="header">
    <span class="drapeau2"></span>
  </div>
  <!-- navBar -->
  <div>
    <router-outlet name="navbar"></router-outlet>
  </div>
  <!-- contenu -->
  <div class="container-fluid">
    <div class="card jh-card">
      <router-outlet></router-outlet>
      <!-- <div><span class="drapeau3 img-fluid rounded"></span></div> -->
    </div>
  </div>
  <!-- footer -->
  <div>
    <jhi-footer></jhi-footer>
  </div>
</div>
