.bloc1 {
  display: inline-block;
  width: 600px;
  height: 400px;
  background: url('../../content/images/mylogo4.jpg');
  // background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: cover;
}
p {
  text-align: center;
}
